.explore-tab {
    display: flex;
    flex-direction: column;
    height: 5%;
    background-color: #313131;
}

.input-field {
    background: transparent;
    border: none;
}

.parent-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.scrollable-div {
    background-color: #494949;
    height: 600px;
    width: 80%;
    overflow-y: scroll;
    text-align: justify;
    border-radius: 5px;
}

.terminal {
    white-space: pre-wrap;
}